<html>
 <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css">
	<style type="text/css">
	    div, p
	    {
            text-align:center;
			margin-left:auto;
			margin-right:auto;
	    }
	 body {
		padding-top: 30px;
		}
    #upload {
      display: block;
      margin: auto;      
      padding: 5px;
      border-width: 2px;
      border-style: solid;
      border-color: gray;
    }
  </style>
	<script type="text/javascript">
	    window.onresize = function (event) {
	        img = document.getElementById("logo")
	        if (window.innerWidth < 400) {
	            img.src = "../static/AppLogoSmall.png";
	            img.style = "";
	        } else {
	            img.src = "../static/AppLogo.png";
	            img.style = "min-width:300px";
	        }
	    }
	    window.onload = window.onresize;
	    function checkfile() {
	        var filename=document.getElementById("upload").getAttribute("filename");
	        if (filename==null || filename=="")
	            return false;
            return true;
	    }
	</script>
     <title>Choose</title></head>
 <body>
     <div id="container">
		<div class="hero-unit">
		<!--<h1>Makeup</h1>-->
		<img id="logo" src="../static/AppLogo.png" class="img-rounded" style="min-width:00px">

		<p>
            Welcome {{ user_name }}!
		</p>
            <div>
                <a href="/process?src={{ profile_src }}"><img src="{{ profile_src }}"/></a>
            </div>
            <p>Use this picture<br />Or<br />Upload a picture</p>
            <form action="/upload" onsubmit="return checkfile()" method="post" enctype="multipart/form-data">
            <input type="file" id="upload" accept="image/*" name="pic" size="chars">            <br />
            <input type="submit" name="submit" value="Upload"class="btn btn-primary .btn-block"/>
            </form>
            <p></p>
            
            <form action="/auth/logout" method="get">
			    <input type="submit" value="Logout" class="btn btn-primary .btn-block"/>
		    </form>
		</div>
	</div>

<p> version 0.1</p>
 </body>
 </html>
