<html>
 <head>
     <style>
         td
         {
             text-align:center;
         }
     </style>
     <title>Choose</title></head>
 <body>
     <table style="border: 1px solid blue; width: 314px; background-color:#bacbf3">
         <tr>
            <td style="text-align:left">
                <img src="makeup.jpg"/>
                <hr/>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <form action="/auth/logout" method="get">
                    <input type="submit" style="background-color:royalblue;font-weight:bold; font-size:14px; color:white" value="Logout" >
                </form>
            </td>
         </tr>
         <tr>
             <td>
                 Welcome {{ user_name }}!
             </td>
         </tr>
         <tr>
             <td><a href="/process?src={{ profile_src }}"><img src="{{ profile_src }}"/></a></td>
         </tr>
         <tr><td style="font-size:16px">or</td></tr>
         <tr><td><input type="submit" value="upload" style="background-color:royalblue;font-weight:bold; font-size:14px; color:white"/></td></tr>
     </table>
<p> version 0.1</p>
 </body>
 </html>
