<html>
 <head>
     <style>
         td
         {
             text-align:center;
         }
     </style>
     <title>Complete</title></head>
 <body>
     <table style="border: 1px solid blue;">
         <tr>
            <td>
                <img src="makeup.jpg"/>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <input type="submit" style="background-color:royalblue; color:white" value="Logout">
            </td>
         </tr>
         <tr>
             <td>
                Your mosaic is complete!
             </td>
         </tr>
         <tr>
             <td><img src="newimg.jpg"/></td>
         </tr>
         <tr><td><input type="submit" value="Upload to Facebook" style="background-color:royalblue; color:white"/></td></tr>
     </table>
<p> version 0.1</p>
 </body>
 </html>