<html>
 <head>
     <style>
         td
         {
             text-align:center;
         }
     </style>
     <title>index</title>
 </head>
 <body>
     <table style="border: 1px solid blue; width: 314px;" >
         <tr>
             <td>
                 <img src="makeup.jpg"/>

             </td>
         </tr>
         <tr>
             <td style="text-align:left">
                 Welcome to Makeup! This exciting app will create a mosaic of 
                 a picture of your choosing from a list of your profile pictures.</td>
         </tr>
         <form action="/choose" method="get">
             <tr><td><input type="submit" value="connect" style="background-color:royalblue; color:white"/></td></tr>
         </form>
     </table>
     <p> version 0.1</p>
 </body>
 </html>
