<!DOCTYPE html>
<html lang="en"
<html>
 <head>
	<title>Makeup</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css">
	<style type="text/css">
	 body {
		padding-top: 30px;
		}
	</style>
	<script type="text/javascript">
		window.onresize = function(event) {
			img = document.getElementById("logo")
			if (window.innerWidth < 600) {
				img.src="../static/AppLogoSmallTransparent.png";
				img.style="";
			} else {
				img.src="../static/AppLogo.png";
				img.style="min-width:400px";
			}
		}
	</script>
 </head>
 <body>
	<div class="container">
		<div class="hero-unit" style="max-width:1000px">
		<!--<h1>Makeup</h1>-->
		<img id="logo" src="../static/AppLogo.png" class="img-rounded" style="min-width:00px">
		<p>
			Welcome to Makeup! This exciting app will create a mosaic of 
            a picture of your choosing from a list of your friend's profile pictures.</td>
		</p>
		<form action="/choose" method="get">
			<input type="submit" value="Connect to Facebook" class="btn btn-primary .btn-block"/>
		</form>
		</div>
	</div>
 </body>
 </html>
