<!DOCTYPE html>
<html lang="en"
<html>
 <head>
	<title>Makeup</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css">
	<style type="text/css">
	 body {
		padding-top: 30px;
		}
	</style>
 </head>
 <body>
	<div class="container">
		<div class="hero-unit" style="max-width:1000px">
		<h1>Makeup</h1>
		<div id="statementPending">
			<p>
			Your mosaic is being constructed. This should only take a minute
			so don't leave yet.
			</p>
			<div style="text-align: center;">
			<img src="../static/loading.gif" style="margin: auto">
			</div>
		</div>
		<div id="statementComplete" style="display:none;">
			<p>
			Your mosaic is complete!
			</p>
			<div id="mosaicContainer"></div>
			<form action="/choose" method="get">
				<input type="submit" value="Upload to Facebook" class="btn btn-primary .btn-block"/>
			</form>
		</div>
		</div>
	</div>
 </body>
 </html>
