<html>
 <head>
     <style>
         td
         {
             text-align:center;
         }
     </style>
     <title>processing</title></head>
 <body>
     <table style="border: 1px solid blue;">
         <tr>
            <td style="text-align:left">
                <img src="makeup.jpg"/>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <input type="submit" style="background-color:royalblue; color:white" value="Logout">
            </td>
         </tr>
         <tr>
             <td>
                Please wait while we compile your mosaic
             </td>
         </tr>
         <tr>
             <td><img src="spinner.gif"/></td>
         </tr>
     </table>
<p> version 0.1</p>
 </body>
 </html>